
body {
    font-family: 'Muli';
    margin: auto;
    color: #DCDCCC;
    max-width: 1000px;
    min-width: 500px;
    background: #3F3F3F;
    background-image: linear-gradient(rgba(73, 73, 73, 0.5) 1px, transparent 1px),
		      linear-gradient(90deg, rgba(73, 73, 73, 0.5) 1px, transparent 1px),
		      linear-gradient(rgba(73, 73, 73, 0.75) 2px, transparent 2px),
		      linear-gradient(90deg, rgba(73, 73, 73, 0.75) 2px, transparent 2px);
    background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;
    background-position: -1px -1px, -1px -1px, -2px -2px, -2px -2px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed';
    font-weight: 700;
    text-transform: uppercase;
    color: #DCDCCC;
}

h1 {
    font-size: 5rem;
    line-height: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}


a {
    color: #DFAF8F;
    text-decoration: none;
}

ul {
    #column-width: 250px;
}

.social-icons {
    padding-left: 5%;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}


div > * {
    padding-left: 5%;
}


.sub {
    list-style: disc;
}

#postamble {
    text-align: center;
}
